.common-3,
.sidebar-t-arrowlineright,
.sidebar-t-identificationcard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.common-4,
.sidebar-frame,
.sidebar-tt-arrowlineright-shoppingbagopen-ttext-tarrowlineright-foldernotch-ttext-tarrowlineright-bookopen-ttext-tarrowlineright-bookopen-ttext {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.common-5,
.sidebar-t-arrowlineright-tarrowlineright-arrowlineright-arrowlineright-arrowlineright,
.sidebar-t-identificationbadge-tidentificationcard-usersthree-notebook-chatsteardrop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.common-6,
.sidebar-t-text-text,
.sidebar-t-dot-text,
.sidebar-t-dot-text-1,
.sidebar-t-chartpieslice-text,
.sidebar-t-arrowlineright-shoppingbagopen-ttext,
.sidebar-t-arrowlineright-foldernotch-ttext,
.sidebar-t-arrowlineright-bookopen-ttext,
.sidebar-t-arrowlineright-bookopen-ttext-1,
.sidebar-ttt-arrowlineright-tarrowlineright-arrowlineright-arrowlineright-arrowlineright-tidentificationbadge-tidentificationcard-usersthree-notebook-chatsteardrop-ttext-text-text-text-text-text-text-text-text-text,
.sidebar-tt-arrowlineright-tarrowlineright-arrowlineright-arrowlineright-arrowlineright-tidentificationbadge-tidentificationcard-usersthree-notebook-chatsteardrop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.common-7,
.sidebar-sidebar,
.sidebar-tt-dot-text-tdot-text,
.sidebar-t-frame,
.sidebar-t-text-text-text-text-text-text-text-text-text-text {
  display: flex;
  flex-direction: column;
}

.common-1,
.sidebar-dot,
.sidebar-dot-1,
.sidebar-arrow-line-right,
.sidebar-arrow-line-right-1,
.sidebar-arrow-line-right-2,
.sidebar-arrow-line-right-3,
.sidebar-arrow-line-right-4,
.sidebar-arrow-line-right-5,
.sidebar-arrow-line-right-6,
.sidebar-arrow-line-right-7,
.sidebar-arrow-line-right-8 {
  width: 16px;
  height: 16px;
}

.common-2,
.sidebar-chart-pie-slice,
.sidebar-shopping-bag-open,
.sidebar-folder-notch,
.sidebar-book-open,
.sidebar-book-open-1,
.sidebar-identification-badge,
.sidebar-identification-card,
.sidebar-users-three,
.sidebar-notebook,
.sidebar-chats-teardrop {
  width: 20px;
  height: 20px;
}

.sidebar-sidebar {
  border-style: solid;
  border-color: #00000019;
  border-right-width: 1px;
  row-gap: 16px;
  padding-bottom: 128px;
  padding-left: 16px;
  padding-right: 15px;
  padding-top: 28px;
  width: 100%;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em;
}

.sidebar-t-text-text {
  column-gap: 24px;
  padding-left: 8px;
  padding-right: 28px;
}

.sidebar-text {
  color: #00000066;
}

.sidebar-text-1 {
  color: #00000033;
}

.sidebar-tt-dot-text-tdot-text {
  row-gap: 20px;
  padding-left: 8px;
  padding-right: 8px;
}

.sidebar-t-dot-text {
  column-gap: 8px;
}

.sidebar-dot {
  flex-shrink: 0;
}

.sidebar-text-2 {
  width: 140px;
  flex-shrink: 0;
}

.sidebar-t-dot-text-1 {
  column-gap: 8px;
}

.sidebar-dot-1 {
  flex-shrink: 0;
}

.sidebar-text-3 {
  width: 140px;
  flex-shrink: 0;
}

.sidebar-t-frame {
  padding-top: 12px;
  justify-content: flex-end;
}

.sidebar-frame {
  align-items: center;
  background-color: white;
  row-gap: 8px;
  padding-bottom: 10px;
  padding-top: 4px;
}

.sidebar-text-4 {
  width: 156px;
  color: #00000066;
}

.sidebar-t-chartpieslice-text {
  column-gap: 12px;
  background-color: #0000000c;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-left: 28px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  align-self: stretch;
}

.sidebar-chart-pie-slice {
  flex-shrink: 0;
}

.sidebar-text-5 {
  width: 108px;
  flex-shrink: 0;
}

.sidebar-tt-arrowlineright-shoppingbagopen-ttext-tarrowlineright-foldernotch-ttext-tarrowlineright-bookopen-ttext-tarrowlineright-bookopen-ttext {
  row-gap: 20px;
  align-self: stretch;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
}

.sidebar-t-arrowlineright-shoppingbagopen-ttext {
  column-gap: 4px;
}

.sidebar-arrow-line-right {
  flex-shrink: 0;
}

.sidebar-shopping-bag-open {
  flex-shrink: 0;
}

.sidebar-text-6 {
  padding-left: 4px;
  flex-grow: 1;
}

.sidebar-t-arrowlineright-foldernotch-ttext {
  column-gap: 4px;
}

.sidebar-arrow-line-right-1 {
  flex-shrink: 0;
}

.sidebar-folder-notch {
  flex-shrink: 0;
}

.sidebar-text-7 {
  padding-left: 4px;
  flex-grow: 1;
}

.sidebar-t-arrowlineright-bookopen-ttext {
  column-gap: 4px;
}

.sidebar-arrow-line-right-2 {
  flex-shrink: 0;
}

.sidebar-book-open {
  flex-shrink: 0;
}

.sidebar-text-8 {
  padding-left: 4px;
  flex-grow: 1;
}

.sidebar-t-arrowlineright-bookopen-ttext-1 {
  column-gap: 4px;
}

.sidebar-arrow-line-right-3 {
  flex-shrink: 0;
}

.sidebar-book-open-1 {
  flex-shrink: 0;
}

.sidebar-text-9 {
  padding-left: 4px;
  flex-grow: 1;
}

.sidebar-t-text {
  padding-top: 12px;
}

.sidebar-text-10 {
  color: #00000066;
}

.sidebar-ttt-arrowlineright-tarrowlineright-arrowlineright-arrowlineright-arrowlineright-tidentificationbadge-tidentificationcard-usersthree-notebook-chatsteardrop-ttext-text-text-text-text-text-text-text-text-text {
  column-gap: 8px;
}

.sidebar-tt-arrowlineright-tarrowlineright-arrowlineright-arrowlineright-arrowlineright-tidentificationbadge-tidentificationcard-usersthree-notebook-chatsteardrop {
  column-gap: 4px;
}

.sidebar-t-arrowlineright-tarrowlineright-arrowlineright-arrowlineright-arrowlineright {
  row-gap: 4px;
  align-self: stretch;
  justify-content: space-between;
}

.sidebar-arrow-line-right-4 {
  flex-shrink: 0;
}

.sidebar-t-arrowlineright {
  padding-top: 200px;
}

.sidebar-arrow-line-right-5 {
  flex-shrink: 0;
}

.sidebar-arrow-line-right-6 {
  flex-shrink: 0;
}

.sidebar-arrow-line-right-7 {
  flex-shrink: 0;
}

.sidebar-arrow-line-right-8 {
  flex-shrink: 0;
}

.sidebar-t-identificationbadge-tidentificationcard-usersthree-notebook-chatsteardrop {
  row-gap: 20px;
}

.sidebar-identification-badge {
  flex-shrink: 0;
}

.sidebar-t-identificationcard {
  padding-top: 200px;
}

.sidebar-identification-card {
  flex-shrink: 0;
}

.sidebar-users-three {
  flex-shrink: 0;
}

.sidebar-notebook {
  flex-shrink: 0;
}

.sidebar-chats-teardrop {
  flex-shrink: 0;
}

.sidebar-t-text-text-text-text-text-text-text-text-text-text {
  row-gap: 20px;
  flex-grow: 1;
  max-width: 116px;
}
